<div class="containner-header limiter aligner">
  <div class="card-title-navbar">
    <h1>Laec UNIALFA</h1>
    <nav class="nav-bar">
      <a class="nav-bar-item" routerLink="/informacoes" href=""><p>informações</p></a>
      <a class="nav-bar-item" routerLink="/procedimentos" href=""><p>procedimentos</p></a>
      <a class="nav-bar-item" routerLink="/uso-laboratorio" href=""><p>uso do laboratório</p></a>
      <a class="nav-bar-item" routerLink="/equipe" href=""><p>equipe</p></a>
      <a class="nav-bar-item" routerLink="/gerenciamento" href=""><p>gerenciamento</p></a>
    </nav>
  </div>
</div>
