<div class="containner-header limiter aligner">
  <div class="card-title-navbar">
    <h1>Laec UNIALFA</h1>
    <nav class="nav-bar">
      <a class="nav-bar-item" href=""><p>sobre</p></a>
      <a class="nav-bar-item" href=""><p>equipe</p></a>
      <a class="nav-bar-item" href=""><p>intervenções</p></a>
      <a class="nav-bar-item" href=""><p>agenda</p></a>
      <a class="nav-bar-item" href=""><p>regulamento</p></a>
    </nav>
  </div>
  <div class="card-social">
    <nav class="socials">
      <a href="https://www.unialfa.com.br/" target="_blank"><img class="icon" src="../../../assets/icons/icone-unialfa.png" alt="icone-unialfa"></a>
      <a href="https://www.instagram.com/unialfa/" target="_blank"><img class="icon" src="../../../assets/icons/instagram.png" alt="icone-instagram"></a>
      <a href="https://www.linkedin.com/school/unialfa/%20/" target="_blank"><img class="icon" src="../../../assets/icons/linkedin.png" alt="icone-linkedin"></a>
      <button class="button-contact">contato</button>
    </nav>
  </div>
</div>
