<div class="equipe-containner">
  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotoueliton.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Ueliton Gomes</h2>
      <p class="ocupacao">Professor</p>
      <p class="periodo">Disciplina: Análise do comportamento Básica</p>
      <button class="botao-contato" (click)="irParaContatoProfessor()">
        Entrar em contato
      </button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotorafael.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Rafael Brandão</h2>
      <p class="ocupacao">Técnico de laboratório</p>
      <p class="periodo">Funcionário Psicologia UNIALFA</p>
      <button class="botao-contato" (click)="irParaContatoRafael()">
        Entrar em contato
      </button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotoamanda.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Amanda</h2>
      <p class="ocupacao">Monitora de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato" (click)="irParaContatoAmanda()">
        Entrar em contato
      </button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotocatharine.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Catharine Roman</h2>
      <p class="ocupacao">Monitora de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato" (click)="irParaContatoCatharine()">
        Entrar em contato
      </button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotohadassa.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Hadassa Liryell</h2>
      <p class="ocupacao">Monitora de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato" (click)="irParaContatoHadassa()">
        Entrar em contato
      </button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotojulia.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Julia Bettencourt</h2>
      <p class="ocupacao">Monitor de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato" (click)="irParaContatoJulia()">
        Entrar em contato
      </button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotomatheus.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Matheus Rocha</h2>
      <p class="ocupacao">Monitor de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato" (click)="irParaContatoMatheus()">
        Entrar em contato
      </button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img
        src="../../../assets/images/fotomilena.PNG"
        alt="Foto 3x4 da pessoa"
      />
    </div>
    <div class="card-conteudo">
      <h2>Milenna Beirigo</h2>
      <p class="ocupacao">Monitora de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato" (click)="irParaContatoMilena()">
        Entrar em contato
      </button>
    </div>
  </div>
</div>
