<div class="equipe-containner">
  <div class="card-horizontal">
    <div class="card-foto">
      <img src="../../../assets/images/foto ueliton.PNG" alt="Foto 3x4 da pessoa" />
    </div>
    <div class="card-conteudo">
      <h2>Ueliton Gomes</h2>
      <p class="ocupacao">Professor titular Unialfa</p>
      <p class="periodo">Disciplina: Análise do comportamento Básica</p>
      <button class="botao-contato" (click)="irParaContatoProfessor()">Entrar em contato</button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img src="../../../assets/images/foto rafael.PNG" alt="Foto 3x4 da pessoa" />
    </div>
    <div class="card-conteudo">
      <h2>Rafael Brandão</h2>
      <p class="ocupacao">Técnico de laboratório</p>
      <p class="periodo">Funcionário Psicologia UNIALFA</p>
      <button class="botao-contato">Entrar em contato</button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img src="assets/foto-exemplo.jpg" alt="Foto 3x4 da pessoa" />
    </div>
    <div class="card-conteudo">
      <h2>Amanda</h2>
      <p class="ocupacao">Monitora de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato">Entrar em contato</button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img src="assets/foto-exemplo.jpg" alt="Foto 3x4 da pessoa" />
    </div>
    <div class="card-conteudo">
      <h2>Matheus Rocha</h2>
      <p class="ocupacao">Monitor de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato">Entrar em contato</button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img src="assets/foto-exemplo.jpg" alt="Foto 3x4 da pessoa" />
    </div>
    <div class="card-conteudo">
      <h2>Júlia</h2>
      <p class="ocupacao">Monitor de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato">Entrar em contato</button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img src="assets/foto-exemplo.jpg" alt="Foto 3x4 da pessoa" />
    </div>
    <div class="card-conteudo">
      <h2>Hadasa</h2>
      <p class="ocupacao">Monitora de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato">Entrar em contato</button>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="card-foto">
      <img src="assets/foto-exemplo.jpg" alt="Foto 3x4 da pessoa" />
    </div>
    <div class="card-conteudo">
      <h2>Katarine</h2>
      <p class="ocupacao">Monitora de Análise do Comportamento</p>
      <p class="periodo">Cursando 5º período</p>
      <button class="botao-contato">Entrar em contato</button>
    </div>
  </div>
</div>
