<div class="agenda-containner">
  <div class="box-turmas limiter">
    <div class="nav-turmas">
      <h1>selecione uma turma</h1>
      <span class="texto-box" (click)="irParaa2025s1BuenoMatutino()"
        >Bueno M</span
      >
      <span class="texto-box" (click)="irParaa2025s1BuenoNoturno()"
        >Bueno N</span
      >
      <span class="texto-box" (click)="irParaa2025s1PerimetralNoturno()"
        >Perimetral</span
      >
      <button class="botao-voltar" (click)="voltar()">Voltar</button>
    </div>
  </div>
</div>
