<div class="agenda-containner">
  <div class="box-turmas limiter">
    <div class="nav-turmas">
      <h1>selecione sua turma</h1>
      <span class="texto-box" (click)="irParaBuenoMatutino()"
        >Bueno M</span
      >
      <span class="texto-box" (click)="irParaBuenoNoturno()"
        >Bueno N</span
      >
      <span class="texto-box" (click)="irParaPerimetralNoturno()"
        >Perimetral</span
      >
      <button class="botao-voltar" (click)="voltar()">Voltar</button>
    </div>
  </div>
</div>
