<div class="selecao-turma-containner">
  <div class="nav-box limiter aligner">
    <nav class="nav-bar">
      <a
        class="nav-bar-item"
        routerLink="/bueno-matutino"
      >
        <p>Bueno Matutino</p></a
      >
      <a
        class="nav-bar-item"
        routerLink="/bueno-noturno"
      >
        <p>Bueno Noturno</p>
      </a>
      <a
        class="nav-bar-item"
        routerLink="/perimetral-noturno"
      >
        <p>Perimetral Noturno</p>
      </a>

    </nav>
  </div>
</div>

