.agenda-containner {
  height: 80vh;
  width: 100%;
  color: var(--marinho-unialfa);
  background-color: var(--cinza-unialfa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-turmas {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../../../../../assets/images/laboratório.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  position: relative;
}

h1 {
  text-align: center;
  top: 20px;
  left: 50%;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
  color: var(--branco);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 10);
}

.nav-turmas {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(151, 151, 151, 0.3); /* Transparente com leve cinza */
  backdrop-filter: blur(10px); /* Aplica blur ao fundo */
  -webkit-backdrop-filter: blur(10px); /* Suporte Safari */
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Opcional para dar profundidade */
}

.texto-box {
  height: 30px;
  line-height: 30px;
  width: 50%;
  text-align: center;
  position: relative;
  font-weight: bold;
  color: var(--branco);
  background-color: var(--vermelho-unialfa);
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  margin: 0.3rem;
  z-index: 1; /* Garante que esteja acima do fundo embaçado */
}

.texto-box:hover {
  background-color: var(--vermelho-escuro);
  margin-left: 0.2rem;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.botao-voltar {
  height: 30px;
  line-height: 30px;
  width: 50%;
  text-align: center;
  position: relative;
  font-weight: bold;
  color: var(--branco);
  background-color: var(--marinho-unialfa);
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  margin: 0.3rem;
  margin-top: 5rem;
  z-index: 1; /* Garante que esteja acima do fundo embaçado */
}

.botao-voltar:hover {
  cursor: pointer;
  color: var(--branco);
  transform: translateX(2px);
}

/* Animação fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Aplica a animação para todos os elementos */
* {
  animation: fadeIn 0.8s ease-in-out;
  animation-fill-mode: both;
}
