<div class="informacoes-artigos-textos-containner">
  <div class="box-titulo">
    <h3 class="titulo">Textos e Artigos</h3>
  </div>
  <div class="box-recursos"></div>

  <div class="texto">
    <ol class="lista-artigos">
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1OPFApjK6O9PslzCCeqE7KH1RoEv2RCB1/view?usp=drive_link" target="_blank">
          Biblioteca Virtual de Psicologia: Análise do Comportamento
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1RS8wL5cs-jFcI75qImfiBJt03NgUNum_/view?usp=drive_link" target="_blank">
          Atividades de Laboratório com Animais Não Humanos
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1YezybxtfmIlN_oIKZSGs8-BErfekKtmf/view?usp=drive_link" target="_blank">
          Normas e Dicas para Redigir um Trabalho Científico
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1qhYurOfh5pLzWlm6jamE0TnpPB20Ioyu/view?usp=drive_link" target="_blank">
          B. F. Skinner e a Análise do Comportamento
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1Iy4KOGyTGp6ocCqBtUTMjlLCPSTF93Tw/view?usp=drive_link" target="_blank">
          Comportamento em Foco – Volume 1: Introdução e Fundamentos
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1Nlv5EQVhmnOzFd7IK_tW65xupGxsEBiS/view?usp=drive_link" target="_blank">
          Comportamento em Foco – Volume 2: Princípios Básicos
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1qW0B006zhcuBwPD2rEZJNc_2l210UpKM/view?usp=drive_link" target="_blank">
          Comportamento em Foco – Volume 3: Aplicações Práticas
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1rP-aMlKStyv9K7vjHvM1hQxDGMHK_k4g/view?usp=drive_link" target="_blank">
          Comportamento em Foco – Volume 4: Estudos Avançados
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/16RdoNVQkBnOq0Lub6z8aQNWDS2vq7RHR/view?usp=drive_link" target="_blank">
          Comportamento em Foco – Volume 5: Novas Perspectivas
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1IYyBgMh6fZGU8fX6V3KeIwlqmhlwVDNE/view?usp=drive_link" target="_blank">
          Comportamento em Foco – Volume 6: Pesquisas Recentes
        </a>
      </li>
      <li>
        <a class="link-texto-artigo" href="https://drive.google.com/file/d/1oi211oZvaUzJ1kgEeEid7BoAjsJkTati/view?usp=drive_link" target="_blank">
          Comportamento em Foco – Volume 7: Temas Contemporâneos
        </a>
      </li>
    </ol>

  </div>
</div>
