<div class="procedimentos-containner">
  <div class="nav-box limiter aligner">
    <nav class="nav-bar">
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['linha-base'] } }]"
      >
        <p>1 - linha de Base</p></a
      >
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['treino-bebedouro'] } }]"
      >
        <p>2 - Treino ao bebedouro</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['modelagem'] } }]"
      >
        <p>3 - Modelagem</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['crf'] } }]"
      >
        <p>4 - CRF</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['extincao'] } }]"
      >
        <p>5A - Extinção Operante</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['recondicionamento'] } }]"
      >
        <p>5B - Recondicionamento</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['razao-fixa'] } }]"
      >
        <p>6 - Razão fixa</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['razao-variavel'] } }]"
      >
        <p>7 - Razão Variável</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['intervalo-fixo'] } }]"
      >
        <p>8 - Intervalo Fixo</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['intervalo-variavel'] } }]"
      >
        <p>9 - Intervalo Variável</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['treino-discriminativo'] } }]"
      >
        <p>10 - Treino Discriminativo</p>
      </a>
      <a
        class="nav-bar-item"
        [routerLink]="[{ outlets: { procedimentos: ['encadeamento'] } }]"
      >
        <p>11 - Encadeamento de Respostas</p>
      </a>
      <button class="botao-voltar" (click)="voltar()">Voltar</button>
    </nav>
  </div>
  <router-outlet name="procedimentos"></router-outlet>
</div>
