<div class="contato-professor-containner">
  <div class="dialog-container">
    <h2>Entrar em Contato com Rafael</h2>

    <!-- <label for="nome">Seu Nome:</label>
    <input
      type="text"
      id="nome"
      [(ngModel)]="nome"
      placeholder="Digite seu nome"
      required
    />

    <label for="email">Seu E-mail:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="email"
      placeholder="exemplo@email.com"
      required
    />

    <label for="mensagem">Mensagem:</label>
    <textarea
      id="mensagem"
      rows="5"
      [(ngModel)]="mensagem"
      placeholder="Digite sua mensagem"
      required
    ></textarea> -->

    <form (ngSubmit)="enviarMensagem()" #emailForm="ngForm">
      <label for="nome">Nome:</label>
      <input
        type="text"
        id="nome"
        [(ngModel)]="nome"
        name="nome"
        required
        placeholder="Digite seu nome"
      />

      <label for="email">E-mail:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="Digite seu e-mail"
      />

      <label for="mensagem">Mensagem:</label>
      <textarea
        id="mensagem"
        [(ngModel)]="mensagem"
        name="mensagem"
        required
        placeholder="Digite sua mensagem"
      ></textarea>

      <button type="submit" [disabled]="emailForm.invalid">Enviar</button>
    </form>

    <div class="botoes">
      <button class="btn-voltar" (click)="voltar()">Voltar</button>
      <button class="btn-enviar" (click)="enviar()">Enviar</button>
    </div>
  </div>
</div>
