@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  --branco: #fff;
  --vermelho-unialfa: #E4341C;
  --marinho-unialfa: #19323C;
}

//seletor para deliimtar o conteúdo
.limiter {
  max-width: 80%;
}

//seletor para centralizar o conteúdo
.aligner {
  margin: 0 auto;
}

//reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

button, input, select, textarea {
  font: inherit;
  border: none;
  background: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

