<div class="informacoes-etica-containner">
  <div class="lab-mapa">
    <div class="quadro-branco">
      <span class="quadro-titulo">quadro</span>
    </div>
    <div class="fileiras">
      <div class="linha-mesas">
        <div class="mesa">
          <div class="lado">mesa a</div>
          <div class="divisoria-horizontal"></div>
          <div class="lado">mesa c</div>
        </div>
        <div class="mesa">
          <div class="lado">mesa b</div>
          <div class="divisoria-horizontal"></div>
          <div class="lado">mesa d</div>
        </div>
      </div>
      <div class="linha-mesas linha-fundo">
        <div class="mesa">
          <div class="lado">mesa e</div>
          <div class="divisoria-horizontal"></div>
          <div class="lado">mesa g</div>
        </div>
        <div class="mesa">
          <div class="lado">mesa f</div>
          <div class="divisoria-horizontal"></div>
          <div class="lado">mesa h</div>
        </div>
      </div>
    </div>
  </div>
</div>
